.cardBody{
    height: 350px;
    width: 250px;
    border: 1px solid white;
    border-radius: 2px;
    margin: 20px;
    background-color: rgb(255, 248, 220);

}
.cardImg{
    width: 250px;
    height: 150px;
    display: flex;
    justify-content: center;
    /* border: 2px solid green; */
}
.cardImageInner{
    width: 245px;
    height: 150px;
    /* border: 2px solid red; */
    object-fit: contain;
    overflow: hidden;
    text-align: center;

}
.cardAbt1{
    font-size: 2rem;
    font-weight: 600;
    padding-left: 10px;
    color: var(--orange);
}
.cardAbt2{
    font-size: 1.4rem;
    padding-left: 10px;
    font-family: 'Raleway', sans-serif;
    color: var(--grey);
}
.cardAbt3{
    font-size: 1.2rem;
    margin-top: 1rem;
    padding-left: 10px;
    color: var(--grey);
    font-weight: 800;
}
a{
    text-decoration: none;
}