.bodyOfSkills{
    height: 100%;
    max-width: 100vw;
    /* max-width: fit-content; */
    /* border: 2px solid pink; */
    display: flex;
    /* align-items: center; */
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: var(--grey);
    overflow: auto;
}
.leftOfSkills{
    height: auto;
    width: min(700px,100%);
    /* border: 2px solid red;/ */
    display: flex;
    align-items: center;
    justify-content: center;

}
.leftWrap{
    /* display: flex; */
    /* align-items: center;  */
    /* justify-content: center; */
    /* border: 2px solid blue; */



}
.rightOfSkills{
    height: 100vh;
    width: 600px;
    /* border: 2px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.skillH1{
    margin-bottom: -200px;
  margin-top: 200px;
}
.skillH2{
    font-size:1.4rem;
    padding: 0 10px;
    /*font-family: 'Gloock', serif;*/
    font-family: 'Raleway', sans-serif;
    color: #fff;
    /*border: 2px solid red;*/
    /*width: 600px;*/
}
.skillBox{
    height: 700px;
    width: 600px;
    /* border: 2px solid cornsilk; */
  display: grid;
  /* gap: 10px; */
  /* column-gap: 100px; */
  /* row-gap: 0px; */
  grid-template-columns: repeat(3,minmax(min-content,1fr));
  grid-template-rows: repeat(5,1fr);
  align-items: center;

}

@media screen and (max-width: 600px) {
    .skillBox{
        width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
    }

}
.skillBox div{
    font-size:min(3rem,4vh);
    padding: 5px;
   text-align: center;
   width: auto;
   margin: 10px;
    border: 2px solid cornsilk;
    border-radius: 10px;
    font-family: 'Gloock', serif;
    color:var(--orange);

}
.skillBox div:hover{
    /* background-color: cornsilk; */
    /* color: cornsilk ; */
    transition: 0.5s;
    background: rgba( 255, 255, 255, 0.25 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 5px );
-webkit-backdrop-filter: blur( 5px );
border-radius: 10px;
border: 2px solid rgba( 255, 255, 255, 0.18 );
}
.skill4{
    grid-column-start: 1;
    grid-column-end: 3;
}
.skill6{
    grid-column-start: 1;
    grid-column-end: 4;
}
.skill7{
    grid-column-start: 1;
    grid-column-end: 3;
}
.skill9{
    grid-column-start: 1;
    grid-column-end: 3;
}
