.outerBox{
    width: 200px;
    height: 50px;
    border: 1px solid cornsilk;
    display:flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 15px;
}

.pillIcon{
    width: 30px;
    height: 30px;
}