body{
    background-color: var(--grey);
}
.container{
    height: auto;
    min-height: 450px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    color: white;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}
@media screen and (max-width:400px) {
    .container{
       justify-content: center;
    }
}
#content{
    display: flex;
    width: 100%;
    position: relative;
    align-items: center;
    flex-wrap: wrap;
    justify-content:space-around;
}
#content::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    border-bottom: 2px solid #ff6f1d;
    transform: scaleX(0);
}
.box{
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    z-index: 2;
    position: relative;
}
@media screen and (max-width:400px) {
    .box{
        height: 250px;
    }
}
.head1{
    font-size: 8rem;
    color: #fff8dc;
    font-family: 'Gloock', serif;
    width: 700px;
    text-align: center;
    line-height: 97%;

}
@media screen and (max-width:480px) {
    .head1{
        font-size: 5rem;
    }

}
.head2{
font-size: 2rem;
font-family: 'Gloock', serif;
height: 250px;
color: var(--orange);
z-index: 1;
/* border: 2px solid pink; */
width: 500px;
}
@media screen and (max-width:480px) {
    .head2{
        font-size: 1.5rem;
        margin-top: 30px;
        height: 100px;
        width: 350px;
    }

}
.head1,.head2{
    flex-basis: 0;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    /* opacity: 1; */
}

