.btnBody{
    height: 50px;
    width: 150px;
    border: 2px solid var(--orange);
    border-radius: 100px;
    background-color: var(--orange);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.btnBody:hover{
    background-color: var(--grey);
    transition: 0.5s ;
    color: white;
}
.btnTxt{
    color: white;
    font-size: 1.5rem;
    text-decoration: none;
}
.btnTxt:hover{
    color: white;
}

