.cardBody{
    height: 350px;
    width: 260px;
border: 4px solid var(--orange);
border-radius: 15px;
display: flex;
align-items: center;

}
.cardImageInner{
    width: 245px;
    height: 150px;
    object-fit: contain;
    overflow: hidden;
    text-align: center;

}
.cardAbt{
    text-align: center;
    display: flex;
align-items: center;
flex-direction: column;

}
.cardAbt1{
    font-family: "Playwrite IT Moderna", cursive;
    font-size: 2.5rem;
    font-weight: 600;
    padding-left: 10px;
    color: cornsilk;
    text-align: center;
}
.cardAbt2{
    font-size: 1.1rem;
    padding: 10px;
    font-family: 'Raleway', sans-serif;
    color: cornsilk;
    min-height: 100px;
    text-align: center ;

}
@media screen and (max-width:1400px) {
    .cardAbt2{
        color: cornsilk;
    }

}
.cardAbt3{
    font-size: 1.2rem;
    margin-top: 1rem;
    padding-left: 10px;
    color: var(--grey);
    font-weight: 800;
}
a{
    text-decoration: none;
}
.hvr{
    font-size: 10px;
}