.outer{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: start;
}
.text{
    height: auto;
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  color: var(--orange);
    opacity: 0;
    font-family: "Gloock", serif;
  font-size:min(6rem,20vw);

}
.blankText{
    width: 20px;
}