.boxForAbt {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* flex-wrap: wrap; */
  background-color: var(--grey);
  /* background-color: black; */
  /* border: 2px solid red; */
}
.head_abt_1 {
  height:auto;
  width: 700px;
  z-index: 1;
   /* border: 2px solid blue; */
  padding: 0 0 0 10px;
}
.abtText1 {
  font-size:min(6rem,20vw);
  color: var(--orange);
  text-align: start;
  font-family: "Gloock", serif;
  /* border: 2px solid blue;   */
  padding: 10px;
  margin-bottom: -200px;
  margin-top: 200px;

}
.head_abt_2 {
  height: 90%;
  width: min(800px,100%);
  /* position: absolute; */
  /* border: 2px solid red; */
  /* background-color: black; */
}
@media screen and (max-width:1000px) {
  .head_abt_2 {
    position: absolute;
  }

}
.abtText2 {
  font-size: 1.4rem;
  color: white;
  padding: 10px;
  text-align: start;
  line-height: 150%;
  /*font-family: "Gloock", serif;*/
  /* border: 2px solid red; */
  font-family: 'Raleway', sans-serif;
}

.subHeadCanvas {
  position: relative;
  bottom: 30px;
  text-align: center;
  color: white;
  font-family: "Gloock", serif;
}
@media screen and (max-width:1000px) {
  .subHeadCanvas {
    display: none;
  }

}
.canvas2{
  aspect-ratio:auto;
}
