.mainBoxOfContact{
    height: auto;
    width: 100vw;
    /* border: 1px solid purple; */
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
    background-color: var(--grey);

}
.canvasDivOfContact{
    height: 90vh;
    width: min(90%,700px);
    /* border: 2px solid red; */
    background: transparent;
}
@media screen and (max-width:820px){
    .canvasDivOfContact{
        height: 60vh;
    }
    
}
.leftOfContact{
    height: 100vh;
    width: 700px;
    /* margin-left: 10px; */
    /* border: 2px solid green; */
}
.contTxt1{
    font-size:min(6rem,20vw);
    padding: 0 10px;
    font-family: 'Gloock', serif;
    color: var(--orange);
}
.contTxt2{
    font-size: 1rem;
    padding: 0 10px;
    font-family: 'Gloock', serif;
    margin-bottom: 50px;
    color:white
}
.bodyOfForm{
    height: 400px;
    width: 400px;
    border: 2px solid red;
}